<app-header [title]="'Devolver Libros - Préstamo ' + prestamo?.id" [isModal]="true">
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-wrapper">
    <form [formGroup]="devolucionForm" class="devolucion-form">
      <ion-item fill="outline" class="form-item-spacing">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [value]="prestamo?.usuarioNombres + ' ' + prestamo?.usuarioApellidos" readonly></ion-input>
      </ion-item>

      <ion-item fill="outline" class="form-item-spacing">
        <ion-label position="floating">Libros Prestados</ion-label>
        <ion-textarea [value]="getLibrosPrestados()" readonly></ion-textarea>
      </ion-item>

      <ion-item fill="outline" class="form-item-spacing">
        <ion-label position="floating">Libros a Devolver</ion-label>
        <ion-select
          formControlName="libroIds"
          placeholder="Selecciona libros a devolver"
          interface="popover"
          [interfaceOptions]="{cssClass: 'custom-select-popover'}"
          multiple="true"
          (ionChange)="onBookSelectionChange($event)">
          <ion-select-option *ngFor="let libro of librosDisponiblesParaDevolucion" [value]="libro.id">
            {{ libro.titulo }} ({{ libro.codigo }})
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button 
        expand="block" 
        type="button"
        (click)="confirmarDevolucion()" 
        [disabled]="devolucionForm.invalid"
        color="tertiary">
        <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
        Confirmar Devolución
      </ion-button>
    </form>
  </div>
</ion-content>