<app-header [title]="title" [isModal]="true"></app-header>
<ion-content [fullscreen]="true">
    <div class="form-wrapper">
        <form class="login-form" [formGroup]="userForm" (ngSubmit)="saveUser()">

            <ion-item>
              <ion-input placeholder="Nombres (Requeridos)" fill="outline" formControlName="nombres">
                <ion-icon slot="start" color="secondary" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="userForm.get('nombres')?.touched && userForm.get('nombres')?.errors?.['required']">
              <p class="ion-padding-start">Los nombres son requeridos</p>
            </ion-text>

            <ion-item>
              <ion-input placeholder="Apellidos (Requeridos)" fill="outline" formControlName="apellidos">
                <ion-icon slot="start" color="secondary" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="userForm.get('apellidos')?.touched && userForm.get('apellidos')?.errors?.['required']">
              <p class="ion-padding-start">Los apellidos son requeridos</p>
            </ion-text>

            <ion-item>
              <ion-input placeholder="Cédula (Requerida)" fill="outline" formControlName="cedula" type="text" inputmode="numeric" pattern="[0-9]*">
                <ion-icon slot="start" color="secondary" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="userForm.get('cedula')?.touched && userForm.get('cedula')?.invalid">
              <p class="ion-padding-start" *ngIf="userForm.get('cedula')?.errors?.['required']">
                La cédula es requerida
              </p>
              <p class="ion-padding-start" *ngIf="userForm.get('cedula')?.errors?.['minlength'] || userForm.get('cedula')?.errors?.['maxlength']">
                La cédula debe tener exactamente 10 dígitos
              </p>
            </ion-text>

            <ion-item>
              <ion-input placeholder="Profesion" fill="outline" formControlName="profesion" type="text">
                <ion-icon slot="start" color="secondary" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Lugar de trabajo" fill="outline" formControlName="lugarTrabajo" type="text">
                <ion-icon slot="start" color="secondary" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Tipo de Usuario</ion-label>
              <ion-select fill="outline" placeholder="Seleccione tipo de usuario" formControlName="tipoUsuario" interface="popover">
                <ion-select-option [value]="0">Niño</ion-select-option>
                <ion-select-option [value]="1">Joven</ion-select-option>
                <ion-select-option [value]="2">Adulto</ion-select-option>
                <ion-select-option [value]="3">Adulto mayor</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-text color="danger" *ngIf="userForm.get('tipoUsuario')?.touched && userForm.get('tipoUsuario')?.errors?.['required']">
              <p class="ion-padding-start">El tipo de usuario es requerido</p>
            </ion-text>

            <ion-item>
              <ion-input placeholder="Edad (Requerida)" fill="outline" formControlName="edad" type="number">
                <ion-icon slot="start" color="secondary" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="userForm.get('edad')?.touched && userForm.get('edad')?.errors?.['required']">
              <p class="ion-padding-start">La edad es requerida</p>
            </ion-text>
            <ion-text color="danger" *ngIf="userForm.get('edad')?.touched && userForm.get('edad')?.errors?.['min']">
              <p class="ion-padding-start">La edad no debe ser menor a 1</p>
            </ion-text>

            <ion-item>
              <ion-input placeholder="Direccion (Requerida)" fill="outline" formControlName="direccion" type="text">
                <ion-icon slot="start" color="secondary" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="userForm.get('direccion')?.touched && userForm.get('direccion')?.errors?.['required']">
              <p class="ion-padding-start">La direccion es requerida</p>
            </ion-text>

            <ion-item>
              <ion-input placeholder="Canton (Requerido)" fill="outline" formControlName="canton" type="text">
                <ion-icon slot="start" color="secondary" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="userForm.get('canton')?.touched && userForm.get('canton')?.errors?.['required']">
              <p class="ion-padding-start">El canton es requerido</p>
            </ion-text>

            <ion-item>
              <ion-input placeholder="Celular" fill="outline" formControlName="celular" type="text" inputmode="numeric" pattern="[0-9]*">
                <ion-icon slot="start" color="secondary" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="userForm.get('celular')?.touched && userForm.get('celular')?.invalid">
              <p class="ion-padding-start" *ngIf="userForm.get('celular')?.errors?.['minlength'] || userForm.get('celular')?.errors?.['maxlength']">
                El celular debe tener exactamente 10 dígitos
              </p>
            </ion-text>

            <ion-item>
              <ion-input placeholder="Correo (Requerido)" fill="outline" formControlName="correo" type="email">
                <ion-icon slot="start" color="secondary" name="person" aria-hidden="true"></ion-icon>
              </ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="userForm.get('correo')?.touched && userForm.get('correo')?.errors?.['required']">
              <p class="ion-padding-start">El correo es requerido</p>
            </ion-text>
            <ion-text color="danger" *ngIf="userForm.get('correo')?.touched && userForm.get('correo')?.errors?.['email']">
              <p class="ion-padding-start">El correo no es valido</p>
            </ion-text>

            <ion-button expand="block" type="submit" [disabled]="userForm.invalid || isProcessing" (click)="saveUser()" color="tertiary">
              {{user ? 'Actualizar Usuario' : 'Agregar Usuario'}}
            </ion-button>
        </form>
    </div>
</ion-content>