<app-header title="Gestión Bibliotecaria"></app-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="login-card">
      <div class="logo-section">
        <img src="../../assets/icon/Logo Colores.png" alt="Logo de la biblioteca" class="logo" />
        <h1 class="ion-text-center">Iniciar Sesión</h1>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <input type="text" style="display:none;" autocomplete="off" name="fakeusername"/>
        <input type="password" style="display:none;" autocomplete="off" name="fakepassword"/>
        <ion-list>
          <ion-item fill="outline">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input
              #usernameInput               placeholder="Ingresa tu usuario"
              formControlName="username"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
            >
              <ion-icon
                slot="start"
                color="secondary"
                name="person-outline"
                aria-hidden="true"
              ></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required']"
          >
            <p class="error-message ion-padding-start">El usuario es requerido</p>
          </ion-text>
          <ion-text color="danger" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['minlength']">
            <p class="error-message ion-padding-start">El usuario debe tener al menos 5 caracteres</p>
          </ion-text>

          <ion-item fill="outline">
            <ion-label *ngIf="false"></ion-label>
            <ion-input
              #passwordInput               placeholder="Ingresa tu contraseña"
              [type]="type"
              formControlName="password"
              autocomplete="new-password"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
            >
              <ion-icon
                slot="start"
                color="secondary"
                name="lock-closed-outline"
                aria-hidden="true"
              ></ion-icon>
              <ion-button
                fill="clear"
                slot="end"
                (click)="togglePasswordVisibility()"
              >
                <ion-icon slot="icon-only" [name]="icon" aria-hidden="true"></ion-icon>
              </ion-button>
            </ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
          >
            <p class="error-message ion-padding-start">La contraseña es requerida</p>
          </ion-text>
          <ion-text color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']">
            <p class="error-message ion-padding-start">La contraseña debe tener al menos 5 caracteres</p>
          </ion-text>
        </ion-list>

        <ion-button
          expand="block"
          type="submit"
          class="ion-margin-top"
          [disabled]="loginForm.invalid"
          (click)="login()"
        >
          Iniciar Sesión
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>