<app-header title="Gestión de libros" [showCloseSessionButton]="true"></app-header>

<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
  <div class="options">
    <ion-searchbar mode="ios" animated="true" placeholder="Buscar Libro" [(ngModel)]="searchTerm" (ionInput)="filterBooks()"></ion-searchbar>
    <ion-button expand="full" color="tertiary" shape="round" style="--color: white;" (click)="addBook()">
      <ion-icon name="add-circle-outline"></ion-icon>
      Agregar Libro
    </ion-button>
  </div>
  <ion-grid class="table">
    <ion-row class="header-row">
      <ion-col size="1" class="first"><strong>Código</strong></ion-col>
      <ion-col size="3"><strong>Título</strong></ion-col>
      <ion-col size="2"><strong>Autor</strong></ion-col>
      <ion-col size="3"><strong>Ubicación</strong></ion-col>
      <ion-col size="1"><strong>Ejemplares</strong></ion-col>
      <ion-col size="2"><strong>Acciones</strong></ion-col>
    </ion-row>

    <ion-row *ngFor="let book of filteredBooks" class="rows ion-align-items-center">
      <ion-col size="1" class="first">{{ book.id }}</ion-col>
      <ion-col size="3">{{ book.titulo }}</ion-col>
      <ion-col size="2">{{ book.autor }}</ion-col>
      <ion-col size="3">Estante: {{ book.estanteria }}, Fila: {{book.fila}}, Caja: {{book.caja}}</ion-col>
      <ion-col size="1">Ejemplares: {{ book.ejemplares }}, Prestados: {{book.prestados}}</ion-col>
      <ion-col size="2">
        <ion-button color="tertiary" shape="round" (click)="editBook(book)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="primary" shape="round" (click)="confirmDelete(book)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding: 15px;" *ngIf="showScrollToTop">
    <ion-fab-button color="secondary" (click)="scrollToTop()">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

