<app-header title="Gestión de Préstamos" [showCloseSessionButton]="true"></app-header>

<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
  <div class="options">
    <ion-searchbar mode="ios" animated="true" placeholder="Buscar Usuario o Libro" [(ngModel)]="searchTerm" (ionInput)="filterPrestamos()"></ion-searchbar>
    <ion-button expand="full" color="tertiary" shape="round" style="--color: white;" (click)="addPrestamo()">
      <ion-icon name="add-circle-outline"></ion-icon>
      Nuevo Préstamo
    </ion-button>
    <ion-button expand="full" color="secondary" shape="round" style="--color: white;" (click)="showHistorialDevoluciones()">
      <ion-icon name="time-outline"></ion-icon>
      Historial Devoluciones
    </ion-button>
  </div>
  <ion-grid class="table">
    <ion-row class="header-row">
      <ion-col size="3" class="first"><strong>Usuario</strong></ion-col>
      <ion-col size="4"><strong>Libros Prestados</strong></ion-col>
      <ion-col size="2"><strong>Fecha Préstamo</strong></ion-col>
      <ion-col size="3"><strong>Acciones</strong></ion-col>
    </ion-row>

    <ion-row *ngFor="let prestamo of filteredPrestamos" class="rows ion-align-items-center">
      <ion-col size="3" class="first" data-label="Usuario">
        {{ prestamo.usuarioNombre }} {{ prestamo.usuarioApellido }}
      </ion-col>
      <ion-col size="4" data-label="Libros Prestados">
        <ion-list>
          <ion-item *ngFor="let libro of prestamo.libros">{{ libro.titulo }} ({{ libro.codigo }})</ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="2" data-label="Fecha Préstamo">
        {{ prestamo.fechaPrestamo }}
      </ion-col>
      <ion-col size="3" data-label="Acciones">
        <ion-button color="primary" shape="round" (click)="devolverLibro(prestamo)">
          <ion-icon name="arrow-undo-outline"></ion-icon>
          Devolver
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding: 15px;" *ngIf="showScrollToTop">
    <ion-fab-button color="secondary" (click)="scrollToTop()">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>