:root {
  --ion-color-primary: #B22222;
  --ion-color-secondary: #FFD700;
  --ion-color-tertiary: #2E8B57;
  --ion-color-dark: #1E1E1E;
  --ion-color-light: #FAF8F5;
  --ion-color-medium: #666666;
  --ion-color-step-50: #F5F5F5;

  --ion-color-danger: #FF6F00; /* Naranja fuerte */
  --ion-color-danger-rgb: 255, 111, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e06300;
  --ion-color-danger-tint: #ff7f1a;
}

.ion-color-primary {
  --ion-color-base: #B22222;
}

.ion-color-secondary {
  --ion-color-base: #FFD700;
}

.ion-color-tertiary {
  --ion-color-base: #2E8B57;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #121212;
    --ion-text-color: #F5F5F5;
    --ion-color-primary: #8B1A1A;
    --ion-color-secondary: #B8860B;
    --ion-color-tertiary: #006400;
    --ion-color-step-50: #333333;
  }
}
