.modal-content {
  padding: 20px;
}

ion-list {
  background: var(--ion-background-color, #f2f5f7);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

ion-list-header {
  color: var(--ion-color-tertiary);
  font-weight: bold;
  font-size: 1.1em;
}

ion-item {
  --background: white;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.02);
  --padding-start: 15px; // Padding izquierdo
}

ion-label {
  h2 {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--ion-color-primary); // O el color que uses para títulos
    margin-bottom: 5px;
  }
  p {
    font-size: 0.9em;
    color: var(--ion-color-medium);
    margin: 2px 0;
  }
}

.empty-state {
  text-align: center;
  padding: 40px 20px;
  ion-text {
    font-size: 1.1em;
    color: var(--ion-color-medium);
  }
}

ion-spinner {
  display: block;
  margin: 20px auto;
  color: var(--ion-color-tertiary);
}